* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Red Hat Display", sans-serif; */
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(234, 29%, 20%);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
  display: flex;
  height: 75vh;
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: center;
  width: 57%;
  padding: 2rem;
  padding-right: 4rem;
}
.header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.select {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  font-size: 16px;
}
.select div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.check {
  color: hsl(4, 100%, 67%);
  cursor: pointer;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.email {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
}
#emails {
  display: flex;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid hsl(231, 7%, 60%);
}
.button button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  cursor: pointer;
}
.right {
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 43%;
}
